 Data Extraction

In [ ]:
!pip install kaggle pandas sqlalchemy pymysql streamlit

In [18]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to c:\Users\janmi\Desktop

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 226kB/s]
100%|██████████| 200k/200k [00:00<00:00, 225kB/s]

In [20]:
import os

# Check if the file exists in the current directory
print("File exists:", os.path.exists(r"C:\Users\janmi\Desktop\orders.csv.zip"))

File exists: True

DATA CLEANING

In [22]:
import pandas as pd

# Load dataset
df = pd.read_csv(r"C:\Users\janmi\Desktop\orders.csv.zip")

# Display first few rows
print(df.head())

   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5

In [ ]:
#To avoid SQL errors, rename columns to lowercase with underscores.
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Verify new column names
print(df.columns)

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [24]:
df.fillna(0, inplace=True)  # Replace missing values with 0

In [ ]:
##CALCULATING DISCOUNTS---derive new columns discount , sale price and profit 
df["discount"] = df["list_price"] * (df["discount_percent"] / 100)
df["sale_price"] = df["list_price"] - df["discount"]
df["profit"] = df["sale_price"] - df["cost_price"]

# Verify new columns
print(df[["discount", "sale_price", "profit"]].head())

   discount  sale_price  profit
0       5.2       254.8    14.8
1      21.9       708.1   108.1
2       0.5         9.5    -0.5
3      19.2       940.8   160.8
4       1.0        19.0    -1.0

In [3]:
from sqlalchemy import create_engine

# Connect to TiDB Cloud
db_url = "mysql+pymysql://kdkYFd9i4JYockp.root:vVcWE4VLsvjKf5hs@gateway01.us-west-2.prod.aws.tidbcloud.com:4000/retail_orders?ssl_ca=<CA_PATH>&ssl_verify_cert=true&ssl_verify_identity=true"

engine = create_engine(db_url)

Split Data into Two Tables

In [27]:
df_main = df[['order_id', 'order_date', 'ship_mode', 'segment', 'country', 
              'city', 'state', 'postal_code', 'region']]

In [28]:
df_details = df[['order_id', 'category', 'sub_category', 'product_id', 
                 'cost_price', 'list_price', 'quantity', 'discount_percent',
                 'discount', 'sale_price', 'profit']]

Insert Data into TiDB Cloud

In [29]:
df_main.to_sql("orders_main", con=engine, if_exists="append", index=False)
print("✅ Data inserted successfully into orders_main!")

✅ Data inserted successfully into orders_main!

In [30]:
df_details.to_sql("orders_details", con=engine, if_exists="append", index=False)
print("✅ Data inserted successfully into orders_details!")

✅ Data inserted successfully into orders_details!

Build Streamlit Dashboard

In [ ]:

streamlit run app.py